
multimedia/bin
/bin
bin
./bin
.vs
/.vs
./obj
multimedia/obj  
/obj
PublishToHerohuBat.bat
AForge.dll
AForge.Video.DirectShow.dll
AForge.Video.dll
Moalaa.dll
MultiMediaCV.dll
multimedia/obj/Debug/multimedia.pdb
multimedia/obj/Debug/multimedia.exe
multimedia/obj/Debug/multimedia.csproj.GenerateResource.cache
multimedia/obj/Debug/multimedia.csprojAssemblyReference.cache
multimedia/obj/Debug/multimedia.csproj.GenerateResource.cache
multimedia/obj/Debug/multimedia.pdb
multimedia/obj/Debug/DesignTimeResolveAssemblyReferences.cache
